Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -altera-*,
  -bugprone-suspicious-string-compare,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -performance-no-int-to-ptr,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
