# Copyright 2020-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-magic-numbers,
  -cert-err33-c,
  -readability-identifier-length,
InheritParentConfig: true
