Checks: >
  *,
  -*-else-after-return,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -bugprone-suspicious-string-compare,
  -cert-err34-c,
  -clang-analyzer-unix.Malloc,
  -clang-diagnostic-nullable-to-nonnull-conversion,
  -hicpp-signed-bitwise,
  -llvmlibc-*,
  -misc-no-recursion,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
