Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-not-null-terminated-result,
  -bugprone-suspicious-string-compare,
  -cert-err34-c,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-unix.Malloc,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-misplaced-const,
  -misc-no-recursion,
  -narrowing-conversions,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
