# Copyright 2020-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -*-macro-to-enum,
  -altera-*,
  -llvmlibc-*,
  -performance-no-int-to-ptr,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/sratom/[^/]+.h'
FormatStyle: file
